/********** Basic styling **********/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

/********** Base styling **********/
/********** Header styling **********/
.navbar {
  background-color: gray;
  border: 0
}

.collapse, .navbar-collapse {
  background-color: lightblue;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: lightgray;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-toggle .icon-bar {
  height: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

li:nth-child(odd) {
  border: 1px solid black;
}

li:nth-child(even) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/********** Body styling **********/
h1 {
  color: black;
}
/********** Main Content styling **********/
.container-main {
  background-color: lightgray;
}

h3 {
  color: black;
}

p {
  color: black;
}
/********** Media styling **********/
@media (min-width: 992px) {
.navbar {
  border-radius: 0;
  padding-bottom: 20px;
}

.collapse {
  visibility: hidden;
}
}



@media (min-width: 768px) and (max-width: 991px) {
.navbar {
  border-radius: 0;
  padding-bottom: 20px;
}

.collapse {
  visibility: hidden;
}
}
